/* App container */
.App {
  padding: 2vw; /* Adjust padding for better readability */
  max-height: 70vh;
  overflow-y: auto;
}

/* Heading styles */
h1 {
  font-size: 2.5vw; /* Adjust font size for better visibility */
  margin-bottom: 1.5vw; /* Adjust margin for better spacing */
  color: #333;
}

/* AddQuestion component styles */
.add-question-container {
  margin-bottom: 1.5vw; /* Adjust margin for better spacing */
}

.add-question-input {
  margin-bottom: 1vw; /* Adjust margin for better spacing */
}

.add-question-button {
  margin-top: 1vw; /* Adjust margin for better spacing */
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0.5vw; /* Adjust border radius for better appearance */
  padding: 0.8vw 1.5vw; /* Adjust padding for better appearance */
  cursor: pointer;
}

.add-question-button:hover {
  background-color: #0056b3;
}

/* SearchQuestions component styles */
.search-input {
  width: 90%; /* Adjust width for better alignment */
  padding: 1.5vw; /* Adjust padding for better readability */
  border: 0.1vw solid #ccc; /* Adjust border thickness for better appearance */
  border-radius: 0.5vw; /* Adjust border radius for better appearance */
  margin-bottom: 1.5vw; /* Adjust margin for better spacing */
}

/* QuestionList component styles */
.question-container {
  max-height: 56vh;
  overflow-y: auto;
}

.question-list.list-group {
  overflow-y: scroll;
  scroll-behavior: auto;
  max-height: 85vh;
}

.question-item {
  border: 0.1vw solid #ccc; /* Adjust border thickness for better appearance */
  border-radius: 0.5vw; /* Adjust border radius for better appearance */
  padding: 1.5vw; /* Adjust padding for better readability */
  margin-bottom: 1vw; /* Adjust margin for better spacing */
  background-color: #f9f9f9;
}

.question-item input[type="text"] {
  width: 90%; /* Adjust width for better alignment */
  padding: 1.5vw; /* Adjust padding for better readability */
  border: 0.1vw solid #ccc; /* Adjust border thickness for better appearance */
  border-radius: 0.5vw; /* Adjust border radius for better appearance */
  margin-bottom: 1vw; /* Adjust margin for better spacing */
  resize: vertical;
  min-height: 3.5vw;
}

.choice-item input[type="text"] {
  width: 90%; /* Adjust width for better alignment */
  padding: 1.5vw; /* Adjust padding for better readability */
  border: 0.1vw solid #ccc; /* Adjust border thickness for better appearance */
  border-radius: 0.5vw; /* Adjust border radius for better appearance */
  margin-bottom: 1vw; /* Adjust margin for better spacing */
  margin-right: 1vw; /* Adjust margin for better spacing */
}

.choice-buttons button {
  padding: 1.2vw 2vw; /* Adjust padding for better appearance */
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0.5vw; /* Adjust border radius for better appearance */
  cursor: pointer;
}

.choice-buttons button:hover {
  background-color: #0056b3;
}

.question-item.list-group-item {
  margin-bottom: 5vh;
  outline: black;
}

/* Button styles */
.btn {
  width: 8vw;
  height: 5vh;
  font-size: 1rem;
}

.btn.btn-primary {
  font-size: 0.5rem;
}

button {
  padding: 0.3vw 0.8vw; /* Adjust padding for better appearance */
  background-color: #2cff10;
  color: #fff;
  border: none;
  border-radius: 0.5vw; /* Adjust border radius for better appearance */
  cursor: pointer;
  min-width: 17vw;
}

button:hover {
  background-color: #0056b3;
}

/* Navbar styles */
.navbar {
  display: flex;
  flex-direction: row;
  padding: 0.5vw;
  height: 12vh;
  max-height: 15vh;
  font-size: 1rem;
  width: 100%;
}

/* Search container styles */
.search-container {
  display: flex;
  justify-content: space-between;
  align-items: right;
  padding: 1.5vw; /* Adjust padding for better spacing */
  max-height: 2vh;
}

.search-container > * {
  margin-right: 3.5vw;
}

.search.form-control {
  height: 50vh;
  margin-left: 0.35vw;
}

input#search.form-control {
  height: 4vh;
}

.search-container-comp {
  height: 8vh;
  margin-left: 1.5vw;
  margin-right: 1.1vw;
}

.numberofquestions_nav {
  color: #000000;
}

.navbar-nav {
  color: #fff;
}

.navbar-brand {
  font-size: 0.5vh;
}

/* Modal styles */
.modal-content {
  padding: 2vw; /* Adjust padding for better readability */
}

/* Styling for the radio buttons */
input[type="radio"] {
  margin-right: 0.5vw;
}

/* Styling for the submit button */
.submit-button {
  margin-top: 1.5vw; /* Adjust margin for better spacing */
}

/* Test generator container styles */
.test-generator-container {
  font-family: Arial, sans-serif;
  padding: 2vw; /* Adjust padding for better readability */
}

.test-header {
  text-align: center;
  margin-bottom: 2vw; /* Adjust margin for better spacing */
}

.test-header h2 {
  font-size: 3.5vw; /* Adjust font size for better visibility */
  color: #333;
}

.test-options {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2vw; /* Adjust margin for better spacing */
}

.test-options input[type="number"] {
  width: 10vw; /* Adjust width for better alignment */
  padding: 1.5vw; /* Adjust padding for better readability */
  margin-right: 2vw; /* Adjust margin for better spacing */
}

.test-options button {
  padding: 1.5vw 2.5vw; /* Adjust padding for better appearance */
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0.5vw; /* Adjust border radius for better appearance */
  cursor: pointer;
}

.test-options button:hover {
  background-color: #0056b3;
}

.question-container {
  border-bottom: 0.1vw solid #333; /* Adjust border thickness for better appearance */
  padding-bottom: 2vw; /* Adjust padding for better spacing */
  margin-bottom: 2vw; /* Adjust margin for better spacing */
}

.question-container:last-child {
  border-bottom: none; /* Remove bottom border from the last question */
}

.question {
  font-weight: bold;
  margin-bottom: 1.5vw; /* Adjust margin for better spacing */
}

.answer-choice {
  margin-bottom: 1vw; /* Adjust margin for better spacing */
}

.answer-choice label {
  display: flex;
  align-items: center;
}

.answer-feedback {
  margin-top: 1.5vw; /* Adjust margin for better spacing */
  color: #ff0000;
  font-style: italic;
}

/* Styling for the submit button */
.submit-button {
  margin-top: 2vw; /* Adjust margin for better spacing */
  width: 100%;
}

/* Styling for the high scores */
.high-scores-container {
  border: 0.1vw solid #ccc; /* Adjust border thickness for better appearance */
  padding: 2vw; /* Adjust padding for better readability */
  border-radius: 0.5vw; /* Adjust border radius for better appearance */
  background-color: #f9f9f9;
  margin-top: 2vw; /* Adjust margin for better spacing */
}

.high-score {
  margin-bottom: 1.5vw; /* Adjust margin for better spacing */
  padding: 1vw; /* Adjust padding for better readability */
  background-color: #eaeaea;
  border-radius: 0.3vw; /* Adjust border radius for better appearance */
}

.high-score p {
  margin: 0;
}

.high-score span {
  font-weight: bold;
  margin-right: 1.5vw; /* Adjust margin for better spacing */
}

.high-score .score {
  color: #007bff;
}

.high-score .time {
  color: #28a745;
}

.high-score .number {
  color: #dc3545;
}

.choice-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}


/* Media query for screens smaller than 768px (standard tablets) */
@media only screen and (max-width: 767px) {
  /* Adjust styles for smaller screens */
  .navbar {
    padding: 0.5rem; /* Decrease padding for navbar */
    max-height: 12vh; /* Adjust max-height for navbar */
  }

  .navbar .navbar-brand {
    display: none;
}

  .search-container {
    padding: 1rem; /* Decrease padding for search container */
  }

  .search-container > * {
    margin-right: 1rem; /* Decrease margin right for elements in search container */
  }

  .search.form-control {
    height: 10vh; /* Adjust height for search form control */
    width: 3vw;
  }

  .search-container-comp {
    height: 6vh; /* Adjust height for search container component */
    margin-left: 0.5rem; /* Decrease margin left for search container component */
    margin-right: 0.5rem; /* Decrease margin right for search container component */
    width: 45vw;
  }

  .high-scores-container {
    padding: 1vw; /* Decrease padding for high scores container */
    margin-top: 5vw; /* Decrease margin top for high scores container */
    height: 20vh;
    width: 83vw;
  }

  .high-score {
    margin-bottom: 2.5vw; /* Decrease margin bottom for high scores */
    padding: 1vw; /* Decrease padding for high scores */
  }

  .high-score p {
    margin: 0.25vw 0; /* Decrease margin for high scores paragraph */
  }

  .high-score span {
    margin-right: 1vw; /* Decrease margin right for span in high scores */
  }
  .question-list {
    padding: 1rem; /* Decrease padding for question list */
    height: 50vh;
    width: 87vw;
  }
  
  .question-item .btn-primary {
    padding: 1rem; /* Decrease padding for question items */
    margin-bottom: 1rem; /* Decrease margin bottom for question items */
    
  }
  
  .question-item input[type="text"] {
    width: 100%; /* Adjust width for input text fields */
  }
  
   .navbar-container {
    padding: 1rem; /* Decrease padding for navbar container */
    max-height: 10vh; /* Adjust max-height for navbar container */
  }

  .navbar-brand {
    font-size: 0.8rem; /* Decrease font size for navbar brand */
  }

  .mr-auto {
    flex: 1; /* Make left-aligned items flexible */
  }

  .dropdown-menu-container {
    flex-basis: 35%; /* Adjust flex-basis for dropdown menu container */
  }

  .dropdown-toggle {
    padding: 0.5rem 5rem; /* Adjust padding for dropdown toggle */
    margin-left: 5vw;
    font-size: 0.8rem; /* Decrease font size for dropdown toggle */
    width: 10%;
  }

  .dropdown-menu {
    min-width: 15rem; /* Adjust min-width for dropdown menu */
    font-size: 0.8rem; /* Decrease font size for dropdown menu */
  }

  .search-bar-container {
    flex-basis: 70%; /* Adjust flex-basis for search bar container */
    
  }

  .search-bar {
    width: 50%; /* Adjust width for search bar */
    font-size: 0.8rem; /* Decrease font size for search bar */
  }

  .choice-container {
    flex-direction: column;
    margin-bottom: 5px;
    

  }

  .choice-container button {
    margin-top: 5px;
  }
  .add-question-modal {
   width: 1px; /* Adjust max-width for the modal */
   max-width: 1px;
   margin: auto; /* Center the modal horizontally */

  }
  
  .modal-header, .modal-footer {
    padding: 0.5rem; /* Decrease padding for modal header and footer */
    width: 100%;
  }

  .modal-body {
    padding: 1rem; /* Decrease padding for modal body */
    width:100%;
  }

  .add-question-form {
    font-size: 0.8rem; /* Decrease font size for form elements */
  }


  .form-control {
    padding: 0.5rem; /* Decrease padding for form controls */
    font-size: 0.8rem; /* Decrease font size for form controls */
  }
  
  .dropdown-menu {
    width: 19rem;
    font-size: .8rem;

  }
}

